body{
    margin: 0px;
    padding: 0px;
    align-items: center;
    border: 1px solid red;
}   
.date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    width: 100%;
}
.label{
    border: 1px solid red;
}

